USE [GESTIONPAQUETERIA]
GO
/****** Object:  Table [dbo].[ASIGNACION]    Script Date: 5/11/2024 10:01:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACION](
	[ASIGNACION_ID] [int] NOT NULL,
	[PAQUETE_ID] [int] NULL,
	[EMPLEADO_ID] [int] NULL,
	[FECHA_ASIGNACION] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ASIGNACION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 5/11/2024 10:01:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[CLIENTE_ID] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[TELEFONO] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[DIRECCION] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CLIENTE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 5/11/2024 10:01:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[EMPLEADO_ID] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[ROL] [varchar](100) NULL,
	[TELEFONO] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPLEADO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAQUETE]    Script Date: 5/11/2024 10:01:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAQUETE](
	[PAQUETE_ID] [int] NOT NULL,
	[NUMEROSEGUIMIENTO] [int] NOT NULL,
	[PESO] [decimal](10, 2) NULL,
	[DIMENSIONES] [nvarchar](50) NULL,
	[VALORDECLARADO] [decimal](10, 2) NULL,
	[ESTADO] [int] NULL,
	[FECHA_ENVIO] [datetime] NULL,
	[FECHA_ENTREGA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PAQUETE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEGUIMIENTO]    Script Date: 5/11/2024 10:01:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEGUIMIENTO](
	[SEGUIMIENTO_ID] [int] NOT NULL,
	[PAQUETE_ID] [int] NULL,
	[FECHA_EVENTO] [datetime] NULL,
	[DESCRIPÇION_EVENTO] [text] NULL,
	[UBICACION] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SEGUIMIENTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ASIGNACION]  WITH CHECK ADD FOREIGN KEY([EMPLEADO_ID])
REFERENCES [dbo].[EMPLEADO] ([EMPLEADO_ID])
GO
ALTER TABLE [dbo].[ASIGNACION]  WITH CHECK ADD FOREIGN KEY([PAQUETE_ID])
REFERENCES [dbo].[PAQUETE] ([PAQUETE_ID])
GO
ALTER TABLE [dbo].[SEGUIMIENTO]  WITH CHECK ADD FOREIGN KEY([PAQUETE_ID])
REFERENCES [dbo].[PAQUETE] ([PAQUETE_ID])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD CHECK  (([ROL]='Conductor' OR [ROL]='Despachador' OR [ROL]='Administrador'))
GO
ALTER TABLE [dbo].[PAQUETE]  WITH CHECK ADD CHECK  (([ESTADO]='Entregado' OR [ESTADO]='En transito' OR [ESTADO]='Recibido'))
GO
/****** Object:  StoredProcedure [dbo].[SP_AsignarPaqueteConductor]    Script Date: 5/11/2024 10:01:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AsignarPaqueteConductor](
    @PAQUETE_ID INT,
    @CONDUCTOR_ID INT
)
AS
BEGIN
    -- Verificar si el paquete ya está asignado a un conductor
    IF EXISTS (SELECT 1 FROM PAQUETE WHERE PAQUETE_ID = @PAQUETE_ID AND @CONDUCTOR_ID IS NOT NULL)
    BEGIN
        RAISERROR('El paquete ya está asignado a un conductor.', 16, 1);
        RETURN;
    END

    -- Asignar el paquete al conductor
    UPDATE PAQUETE
    SET @CONDUCTOR_ID = @CONDUCTOR_ID
    WHERE PAQUETE_ID = @PAQUETE_ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CambiarEstadoPaquete]    Script Date: 5/11/2024 10:01:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CambiarEstadoPaquete]
	@PAQUETE_ID INT,
	@ESTADO INT
AS
BEGIN
    UPDATE PAQUETE
    SET ESTADO = @ESTADO
    WHERE PAQUETE_ID = @PAQUETE_ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GenerarReporteEnvios]    Script Date: 5/11/2024 10:01:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GenerarReporteEnvios]
AS
BEGIN
    SELECT ESTADO, COUNT(*) AS TotalEnvios
    FROM PAQUETE
    GROUP BY ESTADO;

    -- Calcular el tiempo promedio de entrega (supone que hay campos FechaEnvio y FechaEntrega)
    SELECT AVG(DATEDIFF(DAY, FECHA_ENVIO, FECHA_ENTREGA)) AS TiempoPromedioEntrega
    FROM PAQUETE
    WHERE ESTADO = 'Entregado';
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarEventoSeguimiento]    Script Date: 5/11/2024 10:01:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RegistrarEventoSeguimiento](
    @SEGUIMIENTO_ID INT,
	@PAQUETE_ID INT,
	@FECHA_EVENTO DATETIME,
	@DESCRIPÇION_EVENTO TEXT,
	@UBICACION NVARCHAR(100),
	@ESTADO INT
)
AS
BEGIN
    INSERT INTO SEGUIMIENTO(SEGUIMIENTO_ID, PAQUETE_ID, FECHA_EVENTO, DESCRIPÇION_EVENTO, UBICACION)
    VALUES (@SEGUIMIENTO_ID, @PAQUETE_ID, @FECHA_EVENTO, @DESCRIPÇION_EVENTO, @UBICACION);

    -- Actualizar el estado actual del paquete en la tabla Paquetes
    UPDATE PAQUETE
    SET ESTADO = @ESTADO
    WHERE PAQUETE_ID = @PAQUETE_ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarPaquete]    Script Date: 5/11/2024 10:01:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RegistrarPaquete]
    @PAQUETE_ID INT,
	@NUMEROSEGUIMIENTO INT,
	@PESO DECIMAL(10,2),
	@DIMENSIONES NVARCHAR(50),
	@VALORDECLARADO DECIMAL(10,2),
	@ESTADO INT
AS
BEGIN
    INSERT INTO PAQUETE(PAQUETE_ID, NUMEROSEGUIMIENTO, PESO, DIMENSIONES, VALORDECLARADO, ESTADO)
    VALUES (@PAQUETE_ID, @NUMEROSEGUIMIENTO, @PESO, @DIMENSIONES, @VALORDECLARADO, @ESTADO);
END;
GO
